resources/person.xsd

<?xml version="1.0"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.domoroboto.com"
	elementFormDefault="qualified"
	attributeFormDefault="qualified">

	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="age" type="xs:positiveInteger"/>
				<xs:any maxOccurs="2" minOccurs="0" namespace="http://www.domoroboto.com" /> 
			</xs:sequence>
			<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
		</xs:complexType>		
	</xs:element>	
</xs:schema>
